body {
  background-color: #FFFFFF;
  margin-bottom: 120px;
}

.main.container {
  margin-top: 2em;
}

.main.menu {
  margin-top: 4em;
  border-radius: 0;
  border: none;
  box-shadow: none;
  transition: box-shadow 0.5s ease, padding 0.5s ease;
}

.main.menu .item img.logo {
  margin-right: 1.5em;
}

.menu-item {
  color: black;
}

.user-dropdown {
  color: #A25656;
}

.overlay {
  float: left;
  margin: 0em 3em 1em 0em;
}

.overlay .menu {
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.main.menu.fixed {
  background-color: #FFFFFF;
  border: 1px solid #DDD;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.overlay.fixed .menu {
  left: 800px;
}

.ui.container {
  width: 960px;
}

.ui.container.index {
  width: 1150px;
}

.text.container .left.floated.image {
  margin: 2em 2em 2em -4em;
}

.text.container .right.floated.image {
  margin: 2em -4em 2em 2em;
}

.ui.footer.segment {
  margin: 1em 0em 0em;
  padding: 2em 0em;
}

.ak-logo {
  margin-right: 10px;
  margin-left: -10px;
}

.ak-index-name {
  color: #000000;
  margin-left: 0px;
  font-size: x-large;
  font-family: sans-serif;
  font-weight: bold;
}

.ak-search-box {
  padding-top: 15px;
  padding-bottom: 5px;
}

.ak-main-container {
  margin-top: 80px;
  margin-bottom: 120px;
}

.ak-hidden {
  display: none;
}

.hidden {
  display: none;
}

.ak-form-item {
  padding-right: 15px;
}

.ak-form-label {
  padding-right: 15px;
}

.panel-heading {
  padding-top: 15px;
}

.panel-default {
  padding-top: 15px;
}

.ak-content-container {
  padding-top: 15px;
}
